In [1]:
import pandas as pd
import numpy as np

In [2]:
demand_data = pd.read_csv("abs_data.csv")
help_centres = pd.read_csv("help_centres.csv")
sensors = pd.read_csv("sensors_sat_11am_with_postcodes.csv")

In [3]:
demand_data.head()

,id,Income year,Postcode,0-4 years,5-9 years,10-14 years,15-19 years,20-24 years,25-29 years,30-34 years,...,Sub-Saharan African,Male,Female,under or 0,$1 to 1000,1000-1999,2000+,Married in a registered marriage,Married in a de facto marriage,Not married
0,200600800,2006,800,62,39,57,111,323,386,263,...,3,1482,999,85,1114,476,111,333,269,742
1,200600810,2006,810,1706,1763,1820,1875,2046,2099,2167,...,237,13600,13180,1248,12535,4605,635,7255,2543,8488
2,200600812,2006,812,1477,1575,1591,1539,1227,1304,1481,...,86,9461,9514,948,8521,3126,334,5766,1806,5314
3,200600820,2006,820,1163,1059,916,972,1660,1834,1728,...,56,9419,8172,787,7311,3668,870,4498,2012,5212
4,200600828,2006,828,51,51,122,98,39,47,50,...,0,476,433,60,350,141,26,249,48,203

In [4]:
help_centres.head()

   Post Code  Count
0        810      1
1        812      1
2        813      1
3        820      1
4        822      2

In [5]:
sensors["postcode"] = np.round(sensors["mccid_int"]).astype(int) # convert postcodes to int

In [6]:
sensors.head()

,X,Y,bay_id,st_marker_,status,location,lat,lon,xdate,xsource,mccid_str,xorg,mccid_int,name,mccid_gis,maplabel,postcode
0,144.971778,-37.808886,629,89W,Unoccupied,"(-37.80888641115215, 144.97177809248228)",-37.808886,144.971778,20030701.0,Mapbase,NaN,GIS Team,3000.0,NaN,15.0,NaN,3000
1,144.954950,-37.812104,2235,3920N,Unoccupied,"(-37.81210381814597, 144.9549497590006)",-37.812104,144.954950,20030701.0,Mapbase,NaN,GIS Team,3003.0,NaN,4.0,NaN,3003
2,144.957658,-37.812485,2031,3490N,Unoccupied,"(-37.81248535670949, 144.95765771835778)",-37.812485,144.957658,20030701.0,Mapbase,NaN,GIS Team,3000.0,NaN,15.0,NaN,3000
3,144.953301,-37.812709,2258,3955S,Present,"(-37.81270919256484, 144.95330121630298)",-37.812709,144.953301,20030701.0,Mapbase,NaN,GIS Team,3000.0,NaN,15.0,NaN,3000
4,144.978298,-37.810691,5461,11876E,Unoccupied,"(-37.81069143350461, 144.97829825096989)",-37.810691,144.978298,20091109.0,Mapbase,NaN,GIS Team,3002.0,NaN,13.0,NaN,3002

In [7]:
demand_data["demand"] = demand_data["$1 to 1000"] + demand_data["1000-1999"]

In [8]:
demand_data

,id,Income year,Postcode,0-4 years,5-9 years,10-14 years,15-19 years,20-24 years,25-29 years,30-34 years,...,Male,Female,under or 0,$1 to 1000,1000-1999,2000+,Married in a registered marriage,Married in a de facto marriage,Not married,demand
0,200600800,2006,800,62,39,57,111,323,386,263,...,1482,999,85,1114,476,111,333,269,742,1590
1,200600810,2006,810,1706,1763,1820,1875,2046,2099,2167,...,13600,13180,1248,12535,4605,635,7255,2543,8488,17140
2,200600812,2006,812,1477,1575,1591,1539,1227,1304,1481,...,9461,9514,948,8521,3126,334,5766,1806,5314,11647
3,200600820,2006,820,1163,1059,916,972,1660,1834,1728,...,9419,8172,787,7311,3668,870,4498,2012,5212,10979
4,200600828,2006,828,51,51,122,98,39,47,50,...,476,433,60,350,141,26,249,48,203,491
5,200600830,2006,830,1781,1619,1620,1192,1150,1367,1485,...,8423,8318,623,6921,2221,212,4152,1704,3904,9142
6,200600832,2006,832,789,699,528,398,579,754,883,...,3515,3461,254,2874,1286,104,1991,896,1418,4160
7,200600835,2006,835,291,352,422,483,518,317,338,...,3195,2372,259,2602,1042,108,1724,505,1096,3644
8,200600836,2006,836,416,468,512,382,189,243,380,...,2931,2616,277,2293,899,94,1680,641,1156,3192
9,200600837,2006,837,37,45,46,20,20,36,43,...,259,225,23,190,78,5,144,51,95,268
10,200600838,2006,838,22,48,46,31,10,14,28,...,273,213,12,204,67,11,118,57,115,271
11,200600840,2006,840,3,5,4,3,7,3,10,...,147,95,12,143,13,4,70,20,64,156
12,200600841,2006,841,84,103,91,49,22,32,63,...,552,436,46,365,93,13,211,104,180,458
13,200600845,2006,845,45,78,91,42,34,40,38,...,496,415,44,368,69,15,167,86,197,437
14,200600847,2006,847,50,35,24,24,24,24,21,...,200,177,17,187,18,5,71,44,107,205
15,200600850,2006,850,773,780,753,542,571,633,763,...,4220,4139,276,3540,1161,99,1959,840,1892,4701
16,200600852,2006,852,854,856,730,767,740,571,537,...,3940,3740,367,3805,229,30,1941,270,2195,4034
17,200600854,2006,854,80,90,66,86,58,65,66,...,415,360,40,382,34,5,75,97,230,416
18,200600860,2006,860,235,234,281,260,191,193,244,...,1463,1455,117,1380,260,15,609,238,837,1640
19,200600862,2006,862,234,224,214,217,270,186,188,...,1139,1025,71,1027,47,12,460,95,601,1074
20,200600870,2006,870,1852,1834,1886,1734,1643,1834,1889,...,11793,12098,960,10948,3631,629,6150,2394,6648,14579
21,200600880,2006,880,660,732,577,504,421,600,626,...,3699,3167,321,2531,1065,479,1741,411,1654,3596
22,200600885,2006,885,105,90,86,28,58,81,108,...,519,440,42,255,209,105,277,112,135,464
23,200600886,2006,886,124,117,121,71,100,136,156,...,843,614,47,425,237,74,278,143,247,662
24,200602000,2006,2000,522,319,370,1202,4878,4389,2293,...,11015,10385,2770,6269,1859,1411,2823,1301,7773,8128
25,200602006,2006,2006,28,3,6,475,484,37,23,...,490,701,168,827,25,7,8,3,3,852
26,200602007,2006,2007,129,112,102,316,1350,1162,710,...,2913,2635,695,2073,633,161,767,461,2294,2706
27,200602008,2006,2008,188,109,89,313,1326,1181,829,...,3313,2937,541,2292,900,236,614,725,2225,3192
28,200602009,2006,2009,420,243,174,387,1559,2364,1800,...,5943,5369,646,3443,2182,1156,2235,1351,3590,5625
29,200602010,2006,2010,641,312,319,548,2581,4503,3980,...,14553,10079,898,8662,4628,2051,2597,3409,9014,13290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7320,201607267,2016,7267,31,50,66,41,26,38,33,...,468,412,46,347,165,18,308,69,192,512
7321,201607268,2016,7268,52,70,70,58,48,50,50,...,524,541,82,505,156,32,409,95,251,661
7322,201607270,2016,7270,186,213,183,191,149,171,144,...,2059,2035,256,2371,414,94,1488,404,1116,2785
7323,201607275,2016,7275,150,193,187,205,104,124,122,...,1469,1582,210,1599,469,92,1247,235,798,2068
7324,201607276,2016,7276,19,30,41,54,22,22,22,...,287,276,39,260,93,13,182,53,174,353
7325,201607277,2016,7277,299,357,412,395,280,196,267,...,2548,2711,349,2846,947,234,2430,369,1296,3793
7326,201607290,2016,7290,154,158,153,155,122,122,146,...,1001,1064,123,1112,417,45,840,222,583,1529
7327,201607291,2016,7291,32,32,29,38,39,24,43,...,402,467,32,281,100,9,213,56,141,381
7328,201607292,2016,7292,35,42,33,41,26,22,35,...,354,334,35,285,119,14,262,38,135,404
7329,201607300,2016,7300,191,216,209,184,191,179,212,...,1511,1523,151,1746,598,87,1315,316,840,2344
7330,201607301,2016,7301,241,217,247,235,247,195,201,...,1966,2047,245,2246,613,122,1530,364,1234,2859
7331,201607302,2016,7302,114,136,93,98,81,100,90,...,922,857,102,844,224,24,650,144,382,1068
7332,201607303,2016,7303,138,167,143,160,116,98,132,...,1156,1179,169,1472,354,57,1020,237,753,1826
7333,201607304,2016,7304,268,348,398,351,274,244,260,...,2861,3013,371,3273,705,113,2093,475,1624,3978
7334,201607305,2016,7305,53,78,68,83,43,48,62,...,625,605,65,617,142,16,427,81,329,759
7335,201607306,2016,7306,168,222,235,252,171,158,186,...,2030,1927,258,2168,511,104,1532,318,988,2679
7336,201607307,2016,7307,501,603,573,506,429,497,457,...,4586,4662,493,5358,1554,310,3807,864,2587,6912
7337,201607310,2016,7310,1523,1755,1622,1711,1436,1505,1404,...,13055,14127,1408,14507,3724,706,8802,2223,8408,18231
7338,201607315,2016,7315,727,845,885,910,704,614,707,...,6921,7348,803,7919,2142,384,5298,1066,4322,10061
7339,201607316,2016,7316,321,337,393,336,322,286,264,...,2952,3057,326,2917,960,196,2242,508,1443,3877
7340,201607320,2016,7320,991,1010,962,1208,1075,992,921,...,7949,8771,926,8403,2372,434,4880,1525,5325,10775
7341,201607321,2016,7321,242,261,324,292,235,192,193,...,2437,2256,293,2319,693,152,1697,442,1097,3012
7342,201607322,2016,7322,211,243,235,209,197,186,187,...,1904,2070,180,2044,536,106,1308,312,1135,2580
7343,201607325,2016,7325,463,538,473,524,380,339,467,...,4232,4335,534,4530,1241,232,3157,785,2350,5771
7344,201607330,2016,7330,422,521,459,412,418,356,413,...,3403,3351,338,3183,1021,135,2176,698,1636,4204
7345,201607331,2016,7331,20,31,23,36,30,19,28,...,252,227,34,281,70,36,203,46,149,351
7346,201607467,2016,7467,98,124,102,101,74,85,70,...,1039,940,118,914,214,56,512,181,588,1128
7347,201607468,2016,7468,51,45,31,17,42,63,51,...,334,324,34,334,116,38,225,101,171,450
7348,201607469,2016,7469,47,54,47,22,44,50,38,...,483,453,56,334,110,35,223,93,214,444
7349,201607470,2016,7470,55,42,48,29,34,44,41,...,489,430,53,284,89,61,187,75,211,373

In [9]:
demand_years = demand_data[["Postcode", "Income year", "demand"]]
demand_years

      Postcode  Income year  demand
0          800         2006    1590
1          810         2006   17140
2          812         2006   11647
3          820         2006   10979
4          828         2006     491
5          830         2006    9142
6          832         2006    4160
7          835         2006    3644
8          836         2006    3192
9          837         2006     268
10         838         2006     271
11         840         2006     156
12         841         2006     458
13         845         2006     437
14         847         2006     205
15         850         2006    4701
16         852         2006    4034
17         854         2006     416
18         860         2006    1640
19         862         2006    1074
20         870         2006   14579
21         880         2006    3596
22         885         2006     464
23         886         2006     662
24        2000         2006    8128
25        2006         2006     852
26        2007         2006    2706
27        2008         2006    3192
28        2009         2006    5625
29        2010         2006   13290
...        ...          ...     ...
7320      7267         2016     512
7321      7268         2016     661
7322      7270         2016    2785
7323      7275         2016    2068
7324      7276         2016     353
7325      7277         2016    3793
7326      7290         2016    1529
7327      7291         2016     381
7328      7292         2016     404
7329      7300         2016    2344
7330      7301         2016    2859
7331      7302         2016    1068
7332      7303         2016    1826
7333      7304         2016    3978
7334      7305         2016     759
7335      7306         2016    2679
7336      7307         2016    6912
7337      7310         2016   18231
7338      7315         2016   10061
7339      7316         2016    3877
7340      7320         2016   10775
7341      7321         2016    3012
7342      7322         2016    2580
7343      7325         2016    5771
7344      7330         2016    4204
7345      7331         2016     351
7346      7467         2016    1128
7347      7468         2016     450
7348      7469         2016     444
7349      7470         2016     373

[7350 rows x 3 columns]

In [10]:
demand_years = demand_data.pivot(index="Postcode", columns="Income year", values="demand").reset_index()
demand_years

Income year  Postcode     2006     2011     2016
0                 800   1590.0   2855.0   3379.0
1                 810  17140.0  17467.0  17980.0
2                 812  11647.0  11021.0  10243.0
3                 820  10979.0  11010.0  10128.0
4                 822      NaN      NaN  13169.0
5                 828    491.0    537.0    584.0
6                 829      NaN    972.0    663.0
7                 830   9142.0   9917.0   9238.0
8                 832   4160.0   5545.0   7684.0
9                 835   3644.0   2897.0   1893.0
10                836   3192.0   3965.0   3872.0
11                837    268.0    235.0    218.0
12                838    271.0    387.0    408.0
13                840    156.0    338.0    246.0
14                841    458.0      NaN    352.0
15                845    437.0    183.0    249.0
16                846      NaN    133.0    195.0
17                847    205.0    223.0    177.0
18                850   4701.0   4392.0   4052.0
19                852   4034.0   4412.0   4016.0
20                853      NaN    410.0    441.0
21                854    416.0    431.0    491.0
22                860   1640.0   1570.0   1676.0
23                862   1074.0    311.0    452.0
24                870  14579.0  14803.0  10683.0
25                880   3596.0   2913.0   2016.0
26                885    464.0    403.0    288.0
27                886    662.0    567.0    444.0
28               2000   8128.0  11279.0  15303.0
29               2006    852.0    768.0    782.0
...               ...      ...      ...      ...
2494             7267    457.0    611.0    512.0
2495             7268    755.0    727.0    661.0
2496             7270   2523.0   2900.0   2785.0
2497             7275   2143.0   2041.0   2068.0
2498             7276    359.0    397.0    353.0
2499             7277   3180.0   3439.0   3793.0
2500             7290   1494.0   1430.0   1529.0
2501             7291    286.0    584.0    381.0
2502             7292    419.0    455.0    404.0
2503             7300   1944.0   2121.0   2344.0
2504             7301   2868.0   2815.0   2859.0
2505             7302   1002.0   1197.0   1068.0
2506             7303   1896.0   1609.0   1826.0
2507             7304   3867.0   4082.0   3978.0
2508             7305    586.0    871.0    759.0
2509             7306   2513.0   2768.0   2679.0
2510             7307   5786.0   6552.0   6912.0
2511             7310  18552.0  18721.0  18231.0
2512             7315   9866.0   9948.0  10061.0
2513             7316   3882.0   4099.0   3877.0
2514             7320  11464.0  11366.0  10775.0
2515             7321   2850.0   3105.0   3012.0
2516             7322   2932.0   2787.0   2580.0
2517             7325   5742.0   6009.0   5771.0
2518             7330   4524.0   4361.0   4204.0
2519             7331    315.0    308.0    351.0
2520             7467   1372.0   1269.0   1128.0
2521             7468    439.0    447.0    450.0
2522             7469    524.0    560.0    444.0
2523             7470    663.0    537.0    373.0

[2524 rows x 4 columns]

In [11]:
demand_years.columns

Index(['Postcode', 2006, 2011, 2016], dtype='object', name='Income year')

In [12]:
# 2021 projection. y = mx + c.
demand_years["projected_demand"] = demand_years[2016] + (demand_years[2016] - demand_years[2006])

In [13]:
demand_years

Income year  Postcode     2006     2011     2016  projected_demand
0                 800   1590.0   2855.0   3379.0            5168.0
1                 810  17140.0  17467.0  17980.0           18820.0
2                 812  11647.0  11021.0  10243.0            8839.0
3                 820  10979.0  11010.0  10128.0            9277.0
4                 822      NaN      NaN  13169.0               NaN
5                 828    491.0    537.0    584.0             677.0
6                 829      NaN    972.0    663.0               NaN
7                 830   9142.0   9917.0   9238.0            9334.0
8                 832   4160.0   5545.0   7684.0           11208.0
9                 835   3644.0   2897.0   1893.0             142.0
10                836   3192.0   3965.0   3872.0            4552.0
11                837    268.0    235.0    218.0             168.0
12                838    271.0    387.0    408.0             545.0
13                840    156.0    338.0    246.0             336.0
14                841    458.0      NaN    352.0             246.0
15                845    437.0    183.0    249.0              61.0
16                846      NaN    133.0    195.0               NaN
17                847    205.0    223.0    177.0             149.0
18                850   4701.0   4392.0   4052.0            3403.0
19                852   4034.0   4412.0   4016.0            3998.0
20                853      NaN    410.0    441.0               NaN
21                854    416.0    431.0    491.0             566.0
22                860   1640.0   1570.0   1676.0            1712.0
23                862   1074.0    311.0    452.0            -170.0
24                870  14579.0  14803.0  10683.0            6787.0
25                880   3596.0   2913.0   2016.0             436.0
26                885    464.0    403.0    288.0             112.0
27                886    662.0    567.0    444.0             226.0
28               2000   8128.0  11279.0  15303.0           22478.0
29               2006    852.0    768.0    782.0             712.0
...               ...      ...      ...      ...               ...
2494             7267    457.0    611.0    512.0             567.0
2495             7268    755.0    727.0    661.0             567.0
2496             7270   2523.0   2900.0   2785.0            3047.0
2497             7275   2143.0   2041.0   2068.0            1993.0
2498             7276    359.0    397.0    353.0             347.0
2499             7277   3180.0   3439.0   3793.0            4406.0
2500             7290   1494.0   1430.0   1529.0            1564.0
2501             7291    286.0    584.0    381.0             476.0
2502             7292    419.0    455.0    404.0             389.0
2503             7300   1944.0   2121.0   2344.0            2744.0
2504             7301   2868.0   2815.0   2859.0            2850.0
2505             7302   1002.0   1197.0   1068.0            1134.0
2506             7303   1896.0   1609.0   1826.0            1756.0
2507             7304   3867.0   4082.0   3978.0            4089.0
2508             7305    586.0    871.0    759.0             932.0
2509             7306   2513.0   2768.0   2679.0            2845.0
2510             7307   5786.0   6552.0   6912.0            8038.0
2511             7310  18552.0  18721.0  18231.0           17910.0
2512             7315   9866.0   9948.0  10061.0           10256.0
2513             7316   3882.0   4099.0   3877.0            3872.0
2514             7320  11464.0  11366.0  10775.0           10086.0
2515             7321   2850.0   3105.0   3012.0            3174.0
2516             7322   2932.0   2787.0   2580.0            2228.0
2517             7325   5742.0   6009.0   5771.0            5800.0
2518             7330   4524.0   4361.0   4204.0            3884.0
2519             7331    315.0    308.0    351.0             387.0
2520             7467   1372.0   1269.0   1128.0             884.0
2521             7468    439.0    447.0    450.0             461.0
2522             7469    524.0    560.0    444.0             364.0
2523             7470    663.0    537.0    373.0              83.0

[2524 rows x 5 columns]

In [14]:
sensors.groupby(['postcode']).count()

,X,Y,bay_id,st_marker_,status,location,lat,lon,xdate,xsource,mccid_str,xorg,mccid_int,name,mccid_gis,maplabel
postcode,,,,,,,,,,,,,,,,
3000,1085,1085,1085,1085,1085,1085,1085,1085,1085,1085,0,1085,1085,0,1085,0
3002,461,461,461,461,461,461,461,461,461,461,0,461,461,0,461,0
3003,340,340,340,340,340,340,340,340,340,340,0,340,340,0,340,0
3006,262,262,262,262,262,262,262,262,262,262,0,262,262,0,262,0
3008,473,473,473,473,473,473,473,473,473,473,0,473,473,0,473,0
3010,28,28,28,28,28,28,28,28,28,28,0,28,28,0,28,0
3051,309,309,309,309,309,309,309,309,309,309,0,309,309,0,309,0
3052,50,50,50,50,50,50,50,50,50,50,0,50,50,0,50,0
3053,67,67,67,67,67,67,67,67,67,67,0,67,67,0,67,0

In [16]:
sensors.groupby(['postcode', 'status'])['status'].count()

postcode  status
3000      Present       503
          Unoccupied    582
3002      Present       202
          Unoccupied    259
3003      Present       190
          Unoccupied    150
3006      Present       203
          Unoccupied     59
3008      Present       189
          Unoccupied    284
3010      Present        23
          Unoccupied      5
3051      Present       198
          Unoccupied    111
3052      Present        44
          Unoccupied      6
3053      Present        61
          Unoccupied      6
Name: status, dtype: int64

In [19]:
present = sensors[sensors['status'] == 'Present'].groupby(['postcode'])['postcode'].count()
present = present.rename('present')
present

postcode
3000    503
3002    202
3003    190
3006    203
3008    189
3010     23
3051    198
3052     44
3053     61
Name: present, dtype: int64

In [20]:
unoccupied = sensors[sensors['status'] == 'Unoccupied'].groupby(['postcode'])['postcode'].count()
unoccupied = unoccupied.rename('unoccupied')
unoccupied

postcode
3000    582
3002    259
3003    150
3006     59
3008    284
3010      5
3051    111
3052      6
3053      6
Name: unoccupied, dtype: int64

In [21]:
occupancy = pd.concat([present, unoccupied], axis=1).reset_index()
occupancy

   postcode  present  unoccupied
0      3000      503         582
1      3002      202         259
2      3003      190         150
3      3006      203          59
4      3008      189         284
5      3010       23           5
6      3051      198         111
7      3052       44           6
8      3053       61           6

In [22]:
occupancy["pct_free"] = occupancy["unoccupied"] / (occupancy["present"] + occupancy["unoccupied"])

In [23]:
occupancy

   postcode  present  unoccupied  pct_free
0      3000      503         582  0.536406
1      3002      202         259  0.561822
2      3003      190         150  0.441176
3      3006      203          59  0.225191
4      3008      189         284  0.600423
5      3010       23           5  0.178571
6      3051      198         111  0.359223
7      3052       44           6  0.120000
8      3053       61           6  0.089552

In [24]:
occupancy["postcode"]

0    3000
1    3002
2    3003
3    3006
4    3008
5    3010
6    3051
7    3052
8    3053
Name: postcode, dtype: int64

In [27]:
merge1 = pd.merge(occupancy, demand_years, left_on="postcode", right_on="Postcode", how='left')
merge1

,postcode,present,unoccupied,pct_free,Postcode,2006,2011,2016,projected_demand
0,3000,503,582,0.536406,3000,7540.0,11242.0,19591.0,31642.0
1,3002,202,259,0.561822,3002,2723.0,2776.0,2655.0,2587.0
2,3003,190,150,0.441176,3003,1724.0,2054.0,3057.0,4390.0
3,3006,203,59,0.225191,3006,5400.0,6486.0,10225.0,15050.0
4,3008,189,284,0.600423,3008,1983.0,2607.0,5302.0,8621.0
5,3010,23,5,0.178571,3010,1040.0,1076.0,1007.0,974.0
6,3051,198,111,0.359223,3051,6543.0,7258.0,8299.0,10055.0
7,3052,44,6,0.120000,3052,2183.0,2893.0,3257.0,4331.0
8,3053,61,6,0.089552,3053,6608.0,7424.0,9246.0,11884.0

In [42]:
merge2 = pd.merge(merge1, help_centres, left_on="postcode", right_on="Post Code", how='left')
merge2

,postcode,present,unoccupied,pct_free,Postcode,2006,2011,2016,projected_demand,Post Code,Count
0,3000,503,582,0.536406,3000,7540.0,11242.0,19591.0,31642.0,3000.0,2.0
1,3002,202,259,0.561822,3002,2723.0,2776.0,2655.0,2587.0,NaN,NaN
2,3003,190,150,0.441176,3003,1724.0,2054.0,3057.0,4390.0,NaN,NaN
3,3006,203,59,0.225191,3006,5400.0,6486.0,10225.0,15050.0,NaN,NaN
4,3008,189,284,0.600423,3008,1983.0,2607.0,5302.0,8621.0,NaN,NaN
5,3010,23,5,0.178571,3010,1040.0,1076.0,1007.0,974.0,NaN,NaN
6,3051,198,111,0.359223,3051,6543.0,7258.0,8299.0,10055.0,NaN,NaN
7,3052,44,6,0.120000,3052,2183.0,2893.0,3257.0,4331.0,NaN,NaN
8,3053,61,6,0.089552,3053,6608.0,7424.0,9246.0,11884.0,NaN,NaN

In [43]:
merge2["name"] = [
"3000 - Melbourne (CBD)",
"3002 - East Melbourne",
"3003 - West Melbourne",
"3006 - Southbank",
"3008 - Docklands",
"3010 - Parkville",
"3051 - North Melbourne",
"3052 - Parkville",
"3053 - Carlton South"]

In [44]:
merge2

,postcode,present,unoccupied,pct_free,Postcode,2006,2011,2016,projected_demand,Post Code,Count,name
0,3000,503,582,0.536406,3000,7540.0,11242.0,19591.0,31642.0,3000.0,2.0,3000 - Melbourne (CBD)
1,3002,202,259,0.561822,3002,2723.0,2776.0,2655.0,2587.0,NaN,NaN,3002 - East Melbourne
2,3003,190,150,0.441176,3003,1724.0,2054.0,3057.0,4390.0,NaN,NaN,3003 - West Melbourne
3,3006,203,59,0.225191,3006,5400.0,6486.0,10225.0,15050.0,NaN,NaN,3006 - Southbank
4,3008,189,284,0.600423,3008,1983.0,2607.0,5302.0,8621.0,NaN,NaN,3008 - Docklands
5,3010,23,5,0.178571,3010,1040.0,1076.0,1007.0,974.0,NaN,NaN,3010 - Parkville
6,3051,198,111,0.359223,3051,6543.0,7258.0,8299.0,10055.0,NaN,NaN,3051 - North Melbourne
7,3052,44,6,0.120000,3052,2183.0,2893.0,3257.0,4331.0,NaN,NaN,3052 - Parkville
8,3053,61,6,0.089552,3053,6608.0,7424.0,9246.0,11884.0,NaN,NaN,3053 - Carlton South

In [45]:
merge2.to_csv("postcode_sensors_and_ato.csv")